<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "style", media: "all", "data-turbo-track": "reload" %>
  <title>Search Scores</title>
</head>
<body>
  
<div class="container" >

  <div class="title" >
      <h2>G-Scores</h2>
  </div>
  
  <div class="main" >
    
    <div class="SideBar">
      <h3 style="font-weight: bold;">Menu</h3>
      <ul >
        <li><a href="/dashboard" >Top 10</a></li>
        <li><a href="/" style="font-weight: bold;">Search Scores</a></li>
        <li><a href="/report" >Reports</a></li>
      </ul>
    </div>

    <div class="maininfo">
      <div class = "formSearch">
        <h1 style="font-weight: bold; margin-bottom:30px">User Registration</h1>
        <p style="margin-bottom:20px">Registration Number:</p>
        <%= form_with(url: "/getScore", method: :get, local: true) do |form| %>
          <div class="enter">
            <%= form.text_field :sbd, placeholder: "Enter registration number", class:"text_field"  %>
            <%= form.submit "Submit", class:"submit" %>
          </div>
        <% end %>
      </div>

      <div class="score" >
        <h1 style="font-weight: bold; margin-bottom:30px" >Detailed Scores</h1>
        <h3 style="margin-bottom:20px;">Detailed view of search scores here!</h3>
        <div class="result">
        <% if @student %>
          <p><strong>Số Báo Danh:</strong> <%= @student.sbd %></p>
          <p><strong>Toán: </strong> <%= @student.toan %></p>
          <p><strong>Ngữ Văn: </strong> <%= @student.ngu_van %></p>
          <p><strong>Ngoại Ngữ: </strong> <%= @student.ngoai_ngu %></p>
          <p><strong>Mã Ngoại Ngữ: </strong> <%= @student.ma_ngoai_ngu %></p>
          <%if @student.vat_li or @student.hoa_hoc or @student.sinh_hoc%>
            <p><strong>Vật Lý: </strong> <%= @student.vat_li %></p>
            <p><strong>Hóa Học: </strong> <%= @student.hoa_hoc %></p>
            <p><strong>Sinh Học: </strong> <%= @student.sinh_hoc %></p>
          <%else%>
            <p><strong>Lịch Sử: </strong> <%= @student.lich_su %></p>
            <p><strong>Địa Lý: </strong> <%= @student.dia_li %></p>
            <p><strong>GDCD: </strong> <%= @student.gdcd %></p>
          <%end%>
          
        <% elsif @error %>
          <p><%= @error %></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>